version: '3.6'
services:
  ingress:
    image: 481436215387.dkr.ecr.ap-east-1.amazonaws.com/docman-ui:e0c84b4a5ca18bc20e9376a085e7aff14b6e9977
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
    ports:
      - '9000:80'
    depends_on:
      - render
      - graphql-engine
  postgres:
    image: postgres:12
    restart: always
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    environment:
      POSTGRES_PASSWORD: postgrespassword
    ports:
      - '127.0.0.1:5432:5432'
  render:
    build: target/docker/stage
    environment:
      JAVA_OPTS: '-Djava.net.preferIPv4Stack=true -Djava.net.preferIPv4Addresses=true'
      POSTGRES_HOST: postgres
      POSTGRES_URL: jdbc:postgresql://postgres:5432/postgres
      POSTGRES_USERNAME: postgres
      POSTGRES_PASSWORD: postgrespassword
  graphql-engine:
    image: hasura/graphql-engine:v2.15.2
    ports:
      - "8080:8080"
    depends_on:
      - "postgres"
      - "render"
    restart: always
    environment:
      ## postgres database to store Hasura metadata
      HASURA_GRAPHQL_METADATA_DATABASE_URL: postgres://postgres:postgrespassword@postgres:5432/postgres
      ## this env var can be used to add the above postgres database to Hasura as a data source. this can be removed/updated based on your needs
      PG_DATABASE_URL: postgres://postgres:postgrespassword@postgres:5432/postgres
      ## enable the console served by server
      HASURA_GRAPHQL_ENABLE_CONSOLE: "true" # set to "false" to disable console
      ## enable debugging mode. It is recommended to disable this in production
      HASURA_GRAPHQL_DEV_MODE: "true"
      HASURA_GRAPHQL_ENABLED_LOG_TYPES: startup, http-log, webhook-log, websocket-log, query-log
      HASURA_GRAPHQL_AUTH_HOOK: "http://render:9000/private-api/auth-hook"
      HASURA_GRAPHQL_AUTH_HOOK_MODE: "POST"
      HASURA_GRAPHQL_ADMIN_SECRET: "adminsecret"
      ## uncomment next line to set an admin secret
      # HASURA_GRAPHQL_ADMIN_SECRET: myadminsecretkey
volumes:
  db_data:
